$purple: #f36ecf;
$blue: #313f90;
$dark-vinous: #4b3049;
$dark: #1e1f25;
$light-pink: #FFE2FF;
$medium-pink: #EFB1FF;

$main-gradient: linear-gradient(
    130deg, rgba(255,101,210,1) 0%, 
    rgba(174,104,221,1) 50%, 
    rgba(87,107,234,1) 100%
);